body {
    background-color:green;
}
.Minor-Luigi-sections {
    width: 100%;
    background-color: rgb(9,65,155);
}
.Minor-Luigi-parent {
    display: flex;
}
.siema-button {
   background: #ece711;
   width: 70px;
   height: 70px;
   font-size: 21px;
}
@media only screen and (max-width: 600px) {
    .Minor-Luigi-parent {
        display: block;
    }
}